<div id="<%= dom_id manager %>">
  <p>
    <strong>Name:</strong>
    <%= manager.name %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= manager.phone_no %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= manager.address %>
  </p>

</div>
