<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= customer.phone_no %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

</div>
